.articles {
	@include mt(15px, 55px, $mixin-min-viewport, $mixin-max-viewport, 55px);
	@include mb(30px, 80px, $mixin-min-viewport, $mixin-max-viewport, 80px);
	font-weight: 300;
	@include fz(15px, 17px, $mixin-min-viewport, $mixin-max-viewport, 17px);
	strong {
		@include fz(17px, 19px, $mixin-min-viewport, $mixin-max-viewport, 19px);
		font-weight: 600;
		margin: 0;
	}
	time {
		font-weight: 400;
		// margin: 0 0 10px;
	}
	br {
		& + time {
			margin: 0 0 10px;
		}
	}
	h1 {
		@include mb(25px, 45px, $mixin-min-viewport, $mixin-max-viewport, 45px);
	}
	a {
		// will-change: transform;
		// transition: linear .2s;
		// display: inline-block;
		// &:hover {
		// 	transform: scale(1.02, 1.02);
		// }
		&:hover {
			strong {
				text-decoration: underline;
				// text-decoration-color: #faab00;
				// text-decoration-style: double;
			}
		}
	}
}
.articles__wrap {
	// @include xl() {
	// 	padding-left: 40px;
	// }
}

.articles__item {
	@include mb(10px, 15px, $mixin-min-viewport, $mixin-max-viewport, 15px);
	& > div {
		margin-bottom: 5px;
		line-height: 1.35;
	}
}