.breadcrumbs {
	
	ul {
		display: flex;
		flex-wrap: wrap;
		padding: 0;
		margin: 0;
		
		list-style: none;
	}
	li {
		color: #fff;
		&:after {
			content: '/';

			display: inline-block;
			margin-left: 5px;
			margin-right: 5px;
		}
		&:last-child {
			&:after {
				display: none;
			}
		}
	}
	a {
		display: inline-block;
		color: rgba(#fff, .7);
	}
}