.header {
	@include pt(5px, 20px, 767px, 1200px, 20px);
	padding-bottom: 5px;
	margin: 0 !important;
	border-bottom: 1px solid #8c8470;
	// background-color: rgba(#000, .5);
	transition: ease background-color .1s;
	&.stick {
		
	}
}

.header_fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 3;
}

.header__sites {

}


.header__hamburger {
	@include md() {
		display: none;
	}
}