.menu {
	& > ul {
	}
	
}
.menu__list {
	// display: flex;
	// flex-wrap: wrap;
	// justify-content: space-between;
	margin: 0;
	padding: 0;

	list-style: none;
}
.menu__li {
	padding-left: 15px;
	padding-right: 15px;
	margin: 5px 0;
	
}
.menu__link {
	display: block;

	@include fz(14px, 16px, 767px, 1200px, 16px);
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
	// will-change: transform;
	transition: linear .2s;
	&:hover {
		// transform: scale(1.02, 1.02);
		color: #fff;
		// text-decoration: none;
	}
}