.preview-list {
	@include mt(15px, 35px, $mixin-min-viewport, $mixin-max-viewport, 35px);
	@include mb(15px, 20px, $mixin-min-viewport, $mixin-max-viewport, 20px);
}

.preview-wrap {
	margin-bottom: 15px;
	.preview {
		height: 100%;
	}
}
.preview {
	max-width: 262px;
	display: inline-block;

	background-color: rgba(#fff, .1);

	display: inline-flex;
	flex-direction: column;
	& > * {
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.preview__img {
	img {
		// width: 100%;
		height: 196px;
		object-fit: cover;
	}
}
.preview__body {
	@include pt(5px, 18px, $mixin-min-viewport, $mixin-max-viewport, 18px);
	@include pb(8px, 26px, $mixin-min-viewport, $mixin-max-viewport, 26px);
	padding-left: 15px;
	padding-right: 15px;
	flex: 1 1 auto;

	color: #fff;
	@include fz(15px, 17px, $mixin-min-viewport, $mixin-max-viewport, 17px);
	line-height: 1.3;
	text-align: left;
}
.preview__button {

}
