.table {
	// border-collapse: collapse;
	tr {
		th, td {
			padding: 10px;
			border: 1px solid $document-color;
		}
	}
	thead {
		a {
			color: $document-color;
		}
	}
	.mini-table-title {
		display: block;
	}
}