.wrapper {
	overflow: hidden;
}
.wrapper__container {
	display: flex;
	flex-wrap: wrap;
}

.wrapper__in {
	flex: 1 1 auto;
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;

	background-color: rgba(#000, .5);
}

.wrapper__content {
	@include pt(15px, 55px, $mixin-min-viewport, $mixin-max-viewport, 55px);
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
	flex: 1 1 auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	& > * {
		flex: 1 1 auto;
		width: 100%;
	}
}