html {
	font-size: $rem-font-size;
}
body {
	position: relative;

	font-family: $document-font-family;
	font-weight: $document-font-weight;
	font-size: $document-font-size;
	line-height: $document-line-height;
	color: $document-color;

	background-color: $document-background;
	background: url('../images/main-bg.jpg') 50% 50% no-repeat;
	background-size: cover;
	background-attachment: fixed;
	&:before {
		content: '';
	}
}

img {
	max-width: 100%;
	height: auto;
}

button.iconSvg {
	border: none;
	padding: 0;

	background-color: transparent;
}
input, textarea {
	&:focus {
		outline: none;
	}
}
button, input[type="submit"] {
	cursor: pointer;
	&:focus {
		outline: none;
	}
}
.iconSvg {
	display: inline-block;
}
a.iconSvg {
	&:hover {
		text-decoration: none;
	}
}
a {
	text-decoration: none;
	color: $document-color;
	&:hover {
		color: $document-color;
	}
	&:focus {
		outline: none;
	}
}

.pixelperfect {
	@include xl() {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 9999;

		background: url("../images/HC rastr.jpg") 0 0 no-repeat;

		opacity: .3;
	}
	display: none;
}
.container-fluid {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
}

[col*="col-"] {
	margin-bottom: 15px;
}

.padding {
	padding-left: 15px;
	padding-right: 15px;
}


.table-responsive {
	&:only-child {
		margin-bottom: 0;
	}
}


.child-margin-medium {
	& > * {
		margin-bottom: 15px;
	}
}

.child-margin-little {
	& > * {
		margin: 8px 0;
		
	}
}

.margin-first-last-null {
	& > * {
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}


[class*="col-"] {
	@media only screen and (max-width: 450px) {
		width: 100%;
		flex: 0 1 auto;
		max-width: none;
	}
}

[class*="alert-"] {
	padding-top: 3px;
	padding-bottom: 3px;
	margin: 5px 0;
	border-radius: 0;
	border: none;

	@include fz(16px, 19px, $mixin-min-viewport, $mixin-max-viewport, 19px);
	font-weight: 500;
	// background-color: rgba(#fff, .1);
	background-color: transparent;
	&:not(.show) {
		opacity: 0;
		visibility: hidden;
		position: absolute;
	}
}