$rem-font-size: 16px;
$OS: 'Open Sans', sans-serif;

// values for body tag
$document-font-family: $OS;
$document-font-weight: 400;
$document-font-size: 1rem;
$document-color: #fff;
$document-line-height: 1.5;
$document-background: #fff;

$mixin-min-viewport: 575px;
$mixin-min-viewport-mmd: 767px;
$mixin-max-viewport: 1200px;