.background-wrap {
	padding: 17px 19px;
	
	border-radius: 5px;
	background-color: #fff;
	margin: 5px 0;
	// display: flex;
	// flex-direction: column;
}

.background-wrap_black {
	background-color: rgba(#000, .5);
}

.background-wrap_shadow {
	box-shadow: 0 1px 7px rgba(#000, .07);
}
