.button-clr {
	background-color: transparent;
	padding: 0;
	border: none;
}

.button {
	display: inline-block;
	border: 1px solid $document-color;
	padding: 8px 10px 8px;

	margin-top: 5px;
	margin-bottom: 5px;

	text-align: center;
	font-weight: 700;
	@include fz(16px, 20px, $mixin-min-viewport, $mixin-max-viewport, 20px);
	line-height: 1;
	color: $document-color;
	
	background-color: transparent;
	transition: linear .2s;
	&:hover {
		text-decoration: none;
	}
	&_yellow {
		background-color: #faab00;
		border-color: #faab00;
		color: #fff;
		&:hover {
			color: #fff;
			background-color: #e49c00;
			border-color: #e49c00;
			// box-shadow: 0 6px 18px rgba(#000, .3);
		}
	}
	&_large {
		width: 280px;
		@include pt(10px, 14px, $mixin-min-viewport, $mixin-max-viewport, 14px);
		@include pb(8px, 12px, $mixin-min-viewport, $mixin-max-viewport, 12px);
	}
}



.button-add {
	display: block;
	margin-left: auto;
	margin-right: auto;
	transform: translate(0, 50%);
	max-width: 360px;
	padding: 15px;

	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 3px 10px rgba(#000, .06);

	&__in {
		display: block;
		border: 1px dashed #C4C4C4;

		font-size: 100px;
		font-weight: 500;
		color: #C7C7C7;
		text-align: center;
	}
	&:hover {
		text-decoration: none;
	}
}


.button-oval {
	position: relative;
	
	display: inline-block;
	padding: 7px 20px 6px 20px;
	margin-top: 5px;
	margin-bottom: 5px;

	color: $document-color;
	font-size: 20px;
	line-height: 1;

	background-color: transparent;
	border: 1px solid $document-color;
	border-radius: 52px;
	transition: ease .1s;
	.circle {
		position: absolute;

		top: -1px;
		left: -1px;

		width: 35px;
		height: 35px;


		background-color: transparent;
		border: 1px solid $document-color;
		transition: ease .1s;
		color: #008EF0;
		& + * {
			display: inline-block;
			padding-left: 19px;
		}
	}
	&:hover {
		text-decoration: none;
		opacity: .9;
	}
	&_green {
		background-color: #47CA6F;
		border-color: #47CA6F;
		color: #fff;
		.circle {
			background-color: #47CA6F;
			border-color: #47CA6F;
			color: #fff;
		}
		&:hover {
			color: #fff;
			background-color: #28AF51;
			opacity: 1;
			.circle {
				background-color: #28AF51;
			}
		}
	}
	&_yellow {
		background-color: #faab00;
		border-color: #faab00;
		color: #fff;
		.circle {
			background-color: #faab00;
			border-color: #faab00;
			color: #fff;
		}
		&:hover {
			color: #fff;
			background-color: #e49c00;
			opacity: 1;
			.circle {
				background-color: #e49c00;
			}
		}
	}
}

.button_without_style {
	border-color: transparent;
	padding: 0;
	width: auto;
	color: #adadad;
}

.button_width_full {
	width: 100%;
}

.submit-button {
	padding-right: 30px;
	background-image: url('../images/bouble-angle.png');
	background-position: 95% 53%;
	background-repeat: no-repeat;
}