.captcha-wrap {
	padding-left: 15px;
	padding-right: 15px;
	// flex: 1 1 auto;
	@include md() {
		padding-right: 0;
	}
}
.captcha {
	border-radius: 0;
	min-width: 200px;
	min-height: 43px;
	padding: 5px 15px;
}