.content {
	h1 + ul {
		margin-top: 35px;
	}
	ul {
		padding: 0;
		margin: 10px 0;

		list-style: none;
		li {
			@include mt(10px, 26px, $mixin-min-viewport, $mixin-max-viewport, 26px);
			@include mb(10px, 26px, $mixin-min-viewport, $mixin-max-viewport, 26px);
			@include fz(16px, 19px, $mixin-min-viewport, $mixin-max-viewport, 19px);
			line-height: 1.42;
			font-weight: 300;
			&:before {
				content: '-';
				display: inline-block;
				margin-right: 6px;
			}
		}
	}
	p {
		font-weight: 400;
		font-size: 1rem;
	}
}
strong {
	display: inline-block;
	margin: 5px 0;
}
time {
	display: inline-block;
	margin: 5px 0;
}
h1, h2, h3, h4, h5, h6 {
	margin-bottom: 15px;
	
	font-weight: 600;
	line-height: 1.2;
	color: #fff;
	text-transform: uppercase;
}
h1 {
	@include fz(19px, 25px, $mixin-min-viewport, $mixin-max-viewport, 25px);
	line-height: 1.2;
}
h2 {
	@include fz(17px, 19px, $mixin-min-viewport, $mixin-max-viewport, 19px);
	text-transform: uppercase;
}
h3 {

}
p {

}

hr {
	border-top-color: rgba(#fff, .12);
}