.dropdown {
	padding-left: 5px;
	padding-right: 5px;
}
.dropdown-menu {
	border: 1px solid #DCDCDC;
	border-radius: 5px;
	display: block;
	margin-top: -10px;

	opacity: 0;
	visibility: hidden;
	// z-index: 1;
	
	&.show {
		margin-top: 5px;
		margin-bottom: 5px;

		opacity: 1;
		visibility: visible;
		transition: opacity ease .2s,
					visibility ease .2s,
					margin ease .2s;
	}
}
.dropdown-menu_width_auto {
	min-width: auto;
	width: auto;
}
.dropdown-item {

}
.dropdown-toggle {
	
	
	margin: 5px 0;
	color: $document-color;
	background-color: transparent;
	border-color: $document-color;
	&:after {
		vertical-align: middle;
	}
}
.dropdown-toggle_carret_none {
	&:after {
		display: none;
	}
}

.dropdown_select {
	.button {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 195px;
		padding: 5px 10px 5px 12px;
		margin: 5px 0;

		// color: $document-color;
		text-align: left;

		// background-color: transparent;
		// border-color: $document-color;
	}
}

.dropdown_white {
	color: #fff;
	.dropdown-menu {
		border-radius: 0;
	}
	.dropdown-toggle {
		color: #fff;
		font-weight: 700;
	}
	.dropdown-item {
		padding-left: 10px;
		padding-right: 10px;
		color: #000;
		font-weight: 700;
		border-radius: 0;
		&:hover {
			background-color: #faab00;
		}
	}
}