.form {
	@include mt(15px, 25px, $mixin-min-viewport, $mixin-max-viewport, 25px);
	@include mb(15px, 25px, $mixin-min-viewport, $mixin-max-viewport, 25px);
}

.form_sort {
	@include mt(15px, 55px, $mixin-min-viewport, $mixin-max-viewport, 55px);
	@include mb(15px, 55px, $mixin-min-viewport, $mixin-max-viewport, 55px);
}

.form__wrap {
	@include md() {
		flex: 0 1 544px;
		max-width: 544px;
		margin-left: auto;
		margin-right: auto;
	}
}