.form-group {
	margin-bottom: 15px;
}
.form-group_row {
	margin-left: -10px;
	margin-right: -10px;
	@include sm() {
		display: flex;
	}
	.label {
		margin-bottom: 0;
		width: 110px;
		@include sm() {
			margin-top: 11px;
			margin-bottom: 5px;
		}
	}
	.padding {
		padding-left: 10px;
		padding-right: 10px;
	}
}

.form-text {
	color: rgba(#fff, .3);
	@include fz(16px, 19px, $mixin-min-viewport, $mixin-max-viewport, 19px);
	line-height: 1.2;
	margin: 5px 0;
}