.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;

  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.icon_size_large {
	font-size: 100px;
}

.icon_color_yellow {
	color: #e5c90f;
	fill: #000;
	// stroke: #e5c90f;
}

.icon_double-angle {
  vertical-align: middle;
  width: 12px;
  height: 10px;
  background-image: url('../images/bouble-angle.png');
}