.input, .textarea, .form-control {
	width: 100%;
	border: 1px solid #968e73;
	// padding: 4px 10px 3px;
	padding-top: 8px;
	padding-bottom: 7px;
	padding-left: 15px;
	padding-right: 15px;
	height: auto;
	margin: 5px 0;

	font-size: 19px;
	line-height: 1;
	font-weight: 400;
	color: #fff;

	background-color: rgba(#fff, .1);
	border-radius: 0;
	transition: linear .1s;
	@include iph() {
		font-size: 19px;
		line-height: 1;
		font-weight: 400;
		color: #fff;
	}
	&:hover, &:focus {
		outline: none !important;
		box-shadow: 0 6px 12px rgba(#fff, .3);
	}
	&:focus {
		@include iph() {
			opacity: 0;
		}
	}
}

.textarea {
	min-height: 70px;
	resize: none;
}
.form-control {
	&:focus {
		background-color: rgba(#fff, .1);
		border-color: #968e73;
		outline: none;
		color: #fff;
	}
}