.checkbox-wrap {
	position: relative;
	margin: 5px 0;
}
.checkbox-wrap_margin {
	margin: 20px 0;
}
.input-checkbox {
	position: absolute;
	top: 0;
	left: -99999px;
	opacity: 0;
	visibility: hidden;
	&:checked {
		& + * {
			&:before {
				// opacity: 0;
				// visibility: hidden;
				transform: scale(0, 0);
			}
			&:after {
				// opacity: 1;
				// visibility: visible;
				transform: scale(1, 1);
			}
		}
	}
}
.checkbox-wrap__txt {
	display: inline-block;
	position: relative;
	padding-left: 40px;
	min-height: 25px;
	&:before, &:after {
		content: '';

		position: absolute;
		top: 0;
		left: 0;

		display: inline-block;
		width: 25px;
		height: 25px;

		background-color: #fff;
		transition: linear .3s;
	}
	&:after {
		background-color: #faab00;
		// opacity: 0;
		// visibility: hidden;
		transform: scale(0, 0);
	}
}