.label {
	@include mt(10px, 20px, $mixin-min-viewport, $mixin-max-viewport, 20px);
	@include mb(10px, 20px, $mixin-min-viewport, $mixin-max-viewport, 20px);

	@include fz(17px, 19px, $mixin-min-viewport, $mixin-max-viewport, 19px);
	text-transform: uppercase;
	font-weight: 600;
}