.menu-devider {
	color: #fff;
	& > ul {
		margin: 0;
		padding: 0;
		display: flex;
		flex-wrap: wrap;

		list-style: none;

		& > li {
			position: relative;
			margin: 5px 0;
			padding-left: 10px;
			padding-right: 10px;
			&:after {
				content: '|';

				position: absolute;
				top: 50%;
				right: -4px;
				transform: translate(0, -50%);
			}
			&:last-child {
				&:after {
					display: none;
				}
			}
			& > a {
				display: block;
				font-weight: 600;
				color: #fff;
			}
		}
	}
}