.select-custom {
	width: 100%;
	min-width: 260px;
	& + .select-target {
		min-width: 260px;
		width: 100%;
		border: 1px solid #928a6e;
		margin: 5px 0;

		color: #fff;
		font-size: 19px;
		line-height: 1;

		border-radius: 0;
		background-color: rgba(#fff, .1);
		&:hover, &:focus {
			text-decoration: none;
			color: #fff;
			border-color: #928a6e !important;
			outline: none;
		}
		&.select-theme-default b {
			width: 46px;
			height: 100%;
			right: 0;
			margin: 0;

			background-color: #16b6ea;
			&:before {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				display: block;
				background-image: url('../images/caret.png');
				background-repeat: no-repeat;
				background-position: 0 0;
				background-size: contain;
				width: 19px;
				height: 8px;
				border: none;
			}
			&:after {
				display: none;
			}
		}
	}
}

.select.select-theme-default .select-content {
	background: rgba(#fff, .8);
	border-radius: 0;
	
}
.select {
	// width: 100%;
	.select-content {
		// width: 100% !important;
		// max-width: none !important;
		max-height: 150px !important;
	}
}
.select.select-theme-default .select-options .select-option {
	background-color: transparent;
	color: #000;
}
.select.select-theme-default .select-options .select-option.select-option-highlight, .select.select-theme-default .select-options .select-option:hover {
	background: #16b6ea;
	color: #fff;
	// color: $document-color;
}