.sort-dropdown {
	&__button {
		position: relative;
		width: 100%;
		min-width: 260px;
		border: 1px solid #928a6e;
		margin: 5px 0;
		padding-right: 50px;

		color: #fff;
		font-size: 19px;
		line-height: 1;
		font-weight: 400;

		border-radius: 0;
		background-color: rgba(255, 255, 255, 0.1);
		&:after {
			position: absolute;
			right: 0;
			top: 0;
			display: inline-block;
			width: 46px;
			height: 100%;
			border: none;

			background-color: #16b6ea;
			background-image: url(../images/caret.png);
			background-repeat: no-repeat;
			background-position: 50% 50%;
			background-size: 20px 10px;
		}
	}
	&__menu {
		max-height: 200px;
		padding: 0;
		margin-left: 5px;
		
		overflow-y: auto;
		border-radius: 0;

		background: rgba(255, 255, 255, 0.8);
		box-shadow: 0 2px 8px rgba(0,0,0,.2);
	}
	&__item {
		background-color: transparent;
		color: #000;
		&:hover {
			background: #16b6ea;
			color: #fff;
		}
	}
	.dropdown-item:focus, .dropdown-item:hover {
		background: #16b6ea;
		color: #fff;
	}
}