<header class="header">
	<div class="d-flex flex-wrap align-items-center">
		<button class="header__hamburger hamburger hamburger_white hamburger--spin" type="button" data-open="anotherFullpage">
			<span class="hamburger-box">
				<span class="hamburger-inner"></span>
			</span>
		</button>
		<div class="flex-grow-1">
			<div class="mobile-fullPage" data-id="anotherFullpage">
				<div class="mobile-fullPage__content background-wrap">
					<button class="mobile-fullPage__close close" type="button" data-close="anotherFullpage">
						<span class="icon" aria-hidden="true">×</span>
					</button>
					<div class="mobile-fullPage__content-in" data-scroll="axisY">
						<div class="mobile-fullPage__menu menu">
							<ul class="menu__list d-flex flex-md-wrap">
								<li class="menu__li">
									<a class="menu__link" href="#">Товары</a>
								</li>
								<li class="menu__li">
									<a class="menu__link" href="#">Новости</a>
								</li>
								<li class="menu__li">
									<a class="menu__link" href="#">Проверка заказа</a>
								</li>
								<li class="menu__li">
									<a class="menu__link" href="#">Как оплатить?</a>
								</li>
								<li class="menu__li">
									<a class="menu__link" href="#">Контакты</a>
								</li>
								<li class="menu__li">
									<a class="menu__link" href="#">Отзывы</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="autorization-wrap">
			<div class="autorization">
				<div class="menu-devider">
					<ul>
						<li>
							<a href="#">Вход</a>
						</li>
						<li>
							<a href="#">Регистрация</a>
						</li>
					</ul>
				</div>
				<!-- <div class="dropdown dropdown_white">
					<button class="button-clr w-auto dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Олег Захарченко</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<a class="dropdown-item" href="#">Настройки</a>
						<a class="dropdown-item" href="#">Профиль</a>
						<a class="dropdown-item" href="#">Выйти</a>
					</div>
				</div> -->
			</div>
		</div>
	</div>
</header>